@model Project_MusicShop.Models.Album

@{
    ViewData["Title"] = Model.Title + " - " + Model.Artist.Name ;
}
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_product_img">
                    <img class="d-block w-100"
                         src="@Model.AlbumUrl"
                         alt="First slide" />
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <form method="POST" asp-action="Cart" class="s_product_text">
                    <br />
                    <br />
                    <h3>@Model.Title</h3>
                    <h2>$@Model.Price.00</h2>
                    <br />
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Genre</span> : @Model.Genre.Name
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                <span>Artist</span> : @Model.Artist.Name
                            </a>
                        </li>
                        @*<li>
                <a href="#"> <span>Availibility</span> : In Stock</a>
            </li>*@
                    </ul>
                    <br />
                    <br />
                    <input type="number" name="albumId" value="@Model.AlbumId" hidden />
                    <input type="text" name="price" value="@Model.Price" hidden />
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        <input type="number" name="quantity" value="1" title="Quantity:" class="input-text qty" />
                        @*<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++; return false;"
                    class="increase items-count" type="button">
                <i class="lnr lnr-chevron-up"></i>
            </button>
            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                    class="reduced items-count" type="button">
                <i class="lnr lnr-chevron-down"></i>
            </button>*@
                    </div>
                    <div class="card_area">
                        <button class="main_btn" type="submit">Add to Cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>